@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100vh;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(red, red, black, white, white);
  background-size: cover;
  background-repeat: no-repeat;
  border: 7px blue;
  border-style: double;
}
@font-face {
  font-family: "KodeMono";
  src: url("/src/KodeMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
